.directory
.vscode
*.br
/*.log
/*.pid
/config.json
/daijoubu
/daijoubu.exe
/www/css
/www/media/source
/www/media/thumb
/www/media/ui/banners
/www/media/ui/flags
/www/media/ui/loading/*
!/www/media/ui/loading/loading.webm
/www/media/ui/videos
/www/wasm