*.br
*.directory
*.vscode
/*.log
/*.pid
/config.json
/daijoubu
/daijoubu.exe
/node_modules
/www/css
/www/index.html
/www/js
/www/media/source
/www/media/thumb
/www/media/ui/banners/*
!/www/media/ui/banners/default.webp
/www/media/ui/flags
/www/media/ui/loading/*
!/www/media/ui/loading/default.webm
/www/media/ui/posts/spoilers/*
!/www/media/ui/posts/spoilers/default.webp
/www/media/ui/videos
/www/wasm
